#header {
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

body {
    background color: #00000;
    font-family: Times New Roman;
    color: white;
}

a{
    text-decoration: none;
    color: hotpink;
}
 
#container{
    background-color: black;
    color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#content{
    background-image: image(/Users/arijcharaf-eddine/Desktop/Screen Shot 2020-03-07 at 20.11.48.png)
    padding: 10px;
}

#nav{
    width: 180px;
    float: left;
}

.selected{
    font-weight: bold;
    color: white;
}

#main{
    width: 600px;
    float: right;
}

#footer{
    clear: both;
    padding: 10px;
    background-color: #00000;
    color: white;
}

#example{
    color: white;
}

#footer1{
    clear: both;
    padding: 10px;
    background-color: #00000;
    color: white;
    text-align-last: right;
}

